.magic-with-us-bg-con{
    min-height: 100vh;
    max-height: 200vh;
    width: 100%;
    padding-top: 30px;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.magic-with-us-des-con{
    height: 20%;
    width: 50%;
}
.magic-with-us-img-info-con-in-lg{
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
}
.magic-with-us-hea{
    font-size: 37px;
    font-weight: bold;
    color:#3A643B;
    font-size: DINpro-Bold;
}
.magic-with-us-p{
    color: rgb(155, 153, 153);
    text-align: center;
    margin-top: 10px;
    line-height: 30px;
}

/************************* magic img - info con ***************/


.magic-with-us-left-cards-con{
    height: 65%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.magis-with-us-img-con{
    height: 80%;
    width: 30%;
}
.yoga-img{
    width: 100%;
    height: 100%;
}
.magic-with-us-right-cards-con{
    height: 65%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.magic-card4{

    height: 34%;
    margin-top: 9px;
}
.magic-card5{   
    height: 34%;
    margin-top: 5px;
    margin-left: 30px;
}
.magic-card2{
    height: 33%;
    margin-right: 30px;
}
.magic-card-des-con{
    width:100%;
}
.magic-card6{
    
    height: 34%;
    margin-top:9px;
}

/********** magic card **********/

.magic-card-hea{
    color: black;
    font-weight: bold;
    font-size: 18px;
}
.magic-card-p{
    color: #515151;
    font-size: 14px;
}
.magic-card-logo{
    height: 80%;
}
.magic-left-card{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 10px;
    width:100%;
}
.magic-right-card{
    margin-left: 10px;
}






@media screen and (max-width:768px){
    .magic-with-us-bg-con{
        height: 160vh;
    }
    .magic-with-us-des-con{
        min-height: 20vh;
    }
    .magic-with-us-img-info-con-in-lg{
        display: none;
    }
    .magic-with-us-des-con{
        width: 90%;
    }
    .magic-with-us-hea{
        font-size: 30px;
        text-align: center;
    }
    .magic-with-us-p{
        font-size: 12px;
        line-height: 20px;
    }

    .magis-with-us-img-con{
        width: 90%;
        height:30vh;
    }
    .magic-card-hea{
        font-size: 15px;
        text-align: center;
    }
    .magic-card-p{
        font-size: 10px;
        text-align: center;
    }
    .magic-left-card{
        display: flex;
        flex-direction: column;
        align-items: end;
        margin-right: 20px;
    }
}

@media screen and (max-width:400px){
    
    .magic-with-us-des-con{
        width: 90%;
    }
    .magic-with-us-hea{
        font-size: 22px;
        text-align: center;
    }
    .magic-with-us-p{
        font-size: 13px;
        line-height: 18px;
    }
    .magis-with-us-img-con{
        width: 90%;
        height:20vh;
    }
}


/************ ***************/


@media screen and (min-width:768px){
    .magic-with-us-img-info-con-in-sm{
        display: none;
    }

}
/********************/
@media screen and (min-width:1000px) and (max-width:1300px) {
    .magic-card-hea{
        font-size: 16px;
    }
    .magic-card-p{
        font-size: 13px;
    }
    .magic-card-logo{
        height: 60px;
        width: 50px;
    }
    .magic-with-us-hea{
        font-size: 40px;
    }
    .magic-with-us-des-con{
        width: 80%;
    }

}



@media screen and (min-width:768px) and (max-width:1000px) {
    .magic-card-hea{
        font-size: 16px;
    }
    .magic-card-p{
        font-size: 10px;
    }

    .magic-with-us-hea{
        font-size: 38px;
    }
    .magic-with-us-des-con{
        width: 80%;
    }
    .yoga-img{
        height: 90%;
        margin-top: 10px;
    }
    .magic-card{
        background-color: rgb(67, 85, 101);
    }
    .magic-left-card{
      .magic-card-hea{
        text-align: end;
   }}
   .magic-with-us-left-cards-con{
    width: 30%;
   }
   .magic-with-us-right-cards-con{
    width: 28%;
   }

}


/********************/
@media screen and (max-width:300px){
    .magic-with-us-des-con{
        min-height: 30vh;
    }

}

@media screen and (max-width:200px){
    .magic-with-us-des-con{
        min-height: 30vh;
    }
    .magic-with-us-hea{
        font-size: 20px;
    }
    .magic-with-us-p{
        font-size: 10px;
        line-height: 13px;
    }

}

/************************ cards in small *********************/

.magic-with-us-img-info-con-in-sm{
width: 100%;
height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
}
.magic-with-us-sm-cards-con{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.magic-with-us-sm-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 44%;
    margin: 5px;
}
.magic-card-sm-img{
    height: 50%;
    width: 30%;
    margin-bottom: 5px;
}
.magic-card-logo{
    width: 50%;
}


.magis-with-us-img-con-sm{
    height: 30vh;
    width: 50%;
}


@media screen and (max-width:500px){
    .magic-card-hea{
        font-size: 14px;
    }
    .magic-card-p{
        font-size: 8px;
    }
}